@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

.question-holder{
    width: 70vw;
    float: left;
    height: 100vh;
    background-color: #2b6777;
}

.navigator{
    width: 30vw;
    float: right;
    height: 100vh;
    background-color: #17252a;
}

.Question{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    color: #f2f2f2;
}

.options{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    color: #f2f2f2;
}

.not{
    width: 12%;
    font-size: 180%;
    background-color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: black;
}

.active{
    width: 12%;
    font-size: 180%;
    background-color: #2b6777;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
}

.attempted{
    width: 12%;
    font-size: 180%;
    background-color: #4c9a2a;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
}

.marked{
    width: 12%;
    font-size: 180%;
    background-color: #592693;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: white;
}
.timer-holder{
    text-align: center; 
    font-size: x-large;
    color: white;
    margin-top: 5%; 
    padding-bottom: 5%;
    border-bottom: white solid;
}

.button-span{
    padding: 5%;
}

.clear-button{
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 110%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #ff7f7f;
    color: white;
}

.mark-button{
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 110%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #592693;
    color: white;
}

.next-button{
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 110%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: #4c9a2a;
    color: white;
}

.submit-button{
    position: absolute;
    margin-top: 60vh;
    margin-left: -8.8vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    font-size: 150%;
    background-color: #1b7ced;
    color: white;
    border-radius: 9%;
}